h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 5em;
    top: 10%;
    align-content: center;
}

.project-list {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.project-list h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
}

.project-list ul {
    list-style: none;
    padding: 0;
}

.project-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #575757;
}

.project-number {
    width: 50px;
    text-align: center;
}

.project-title {
    flex-grow: 1;
}

.view-more {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.view-more:hover {
    text-decoration: underline;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #08070f;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    text-align: center;
    font-size: 1.3em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-title {
    font-size: 1.5em;
    font-weight: bold;
/*    margin-bottom: 10px;*/
}