h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 5em;
    top: 10%;
    align-content: center;
}

.project-list {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.project-list h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
}

.project-list ul {
    list-style: none;
    padding: 0;
}

.project-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #575757;
}

.project-number {
    width: 50px;
    text-align: center;
}

.project-title {
    flex-grow: 1;
}