body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(12, 12, 12, 1.0);
}

.background {
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar {
    width: 40%;
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    left: 30px;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.nav-left a:hover {
    background-color: #575757;
    color: white;
}

.nav-left a.active {
    background-color: rgb(59, 60, 61);
    color: white;
}

.portfolio-tag {
    position: absolute;
    top: 25px; /* Adjust the top position as needed */
    right: 40px; /* Adjust the right position as needed */
/*    color: white;*/
    font-size: 1em;
    z-index: 2;
}

a {
    text-decoration: none;
}
a:visited {
    color: inherit;
    text-decoration: inherit;
}
