h1, h3 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    position: absolute;
    font-size: 5em;
    top: 10%;
    align-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px;
    position: absolute;
    top: 42%;
    align-items: start;
}

.lab-container {
    padding: 10px;
    box-sizing: border-box;
}